<form {{action 'submit' contact on='submit'}}>

 <label for="contact-first-name">First Name</label>
 {{input id="contact-first-name" type="text" value=firstName}}

 <label for="contact-last-name">Last Name</label>
 {{input id="contact-last-name"  type="text" value=lastName}}

 <label for="contact-phoneNumber">Phone Number</label>
 {{input id="contact-phoneNumber"  type="text" value=phoneNumber}}

 <label for="contact-emailAddress">Email Address</label>
 {{input id="contact-emailAddress"  type="text" value=emailAddress}}

   <button>Save</button>

</form>

